/* css reset start*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

/* css reset finish */

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

:root {
  --Cyan: hsl(179, 62%, 43%); /*monthly sub column*/
  --Bright-Yellow: hsl(71, 73%, 54%); /*30-day heading, a-tag */
  --Light-Gray: hsl(204, 43%, 93%); /* p tag*/
  --Grayish-Blue: hsl(218, 22%, 67%); /* background */
  --Cyan-thick: hsl(181, 40%, 65%); /*  Join Our heading*/
  --Cyan-light: hsl(179, 47%, 52%); /*why us column*/
}

body {
  font-size: 1rem;
  display: flex;
  background-color: var(--Light-Gray);
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: "Karla", sans-serif;
}

/* test*/

.main-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  max-width: 45rem;
  box-shadow: 0px 0px 20px 4px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.container {
  padding: 2rem;
}

/* 1 container */
.container-wide {
  grid-column: span 2;
  background-color: hsl(0, 0%, 100%);
  border-radius: 5px 5px 0 0;
}

.container-wide h3:nth-of-type(1) {
  color: var(--Cyan);
  font-weight: 700;
}

.container-wide h3:nth-of-type(2) {
  color: var(--Bright-Yellow);
}

.container-wide p {
  font-family: "Karla";
  color: lightgray;
  font-weight: 700;
}

/* 1 container finish */

/* 2 container start */

.container-2 {
  color: white;
  background-color: var(--Cyan);
  border-radius: 0 0 0 5px;
}

.container-2 h1::after {
  content: " per month";
  font-size: 0.8rem;
  vertical-align: middle;
  padding-left: 0.5rem;
  opacity: 0.5;
}

#button {
  margin-top: 1rem;
  padding: 10px 90px;
  color: white;
  background-color: var(--Bright-Yellow);
  border: none;
  border-radius: 5px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  white-space: nowrap;
  cursor: pointer;
}

/* 2 container finish */

/* 3 container start */
.container-3 {
  background-color: var(--Cyan-light);
  color: white;
  border-radius: 0 0 5px 0;
  font-weight: 400;
}

.container-3 p {
  font-weight: 400;
  font-size: 0.9rem;
  opacity: 0.5;
}

/* 3 container finish */

.attribution {
  display: none;
}

/* test*/

/* Styles for screens 375px and lower (mobile) */
@media (max-width: 806px) {
  .main-container {
    display: block;
    max-width: 65rem;
    margin: 40px 30px; /* center the mobile container to the middle*/
  }

  .container {
    padding: 0;
    padding: 20px;
  }
  .container-wide {
    border-radius: 5px 5px 0 0;
  }
  .container-2 {
    border-radius: 0;
  }
  .container-3 {
    border-radius: 0 0 5px 5px;
  }
}
